*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    display: grid;
    grid-template-columns: .35fr 1fr;
    grid-template-areas: 
    "navbar navbar" 
    "sidebar main"
    "footer footer";
}
nav{
    grid-area: navbar;
}
aside{
    grid-area: sidebar;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}
nav{
    position: sticky;
    top: 0; 
    z-index: 1000;

}
.navbar{
    width: 100%;
    display: flex;
    background-color: #000;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    color: white;
    
    cursor: pointer;
}
.logo{
    width: 5%;
    font-size: 50px;
    color: #1aa34a;
}
.middlenavbar{
    width: 60%;
    display: flex;
    gap: 2px;
    margin-left: 400px;
}
.home{
    font-size: 30px;
    margin-left: 60px;
    border-radius: 50%;
    background-color: rgb(61, 59, 59);
    padding: 13px 15px 0px 15px;
    transition: all ease .2s
}
.home:hover{
    transform: translateY(2px)
}
.search-container{
    display: flex;
    padding: 5px 15px 0px 15px;
    color: white;
    font-weight: 900;
}
.search-container input{
    outline: 0;
    border: 0;
    width: 400px;
    border-radius: 50px;
    padding: 5px 20px;
    border: 0px solid white;
    background-color: rgb(61, 59, 59);
}
.search-container input:hover{
    transform: scale(1.05);
    border: 3px solid white;

}

.signup{
    width: 100px;
    color: rgb(93, 92, 92);
    font-weight: 600;
    border-radius: 30px;
    text-align: center;
    margin: 20px 30px 0px 10px;
}
.signup a{
    color: rgb(93, 92, 92);
    transition: transform 0.2s ease;
}
.signup a:hover{
    color: white;
    transform: scale(1.05);
    font-weight: 600;

}
.login{
    width: 150px;
    font-size: 15px;
    color: black;
    font-weight: 600;
    text-align: center;
    border-radius: 30px;
    padding: 18px 15px 0px 15px;
    background-color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.login:hover{
    background-color: #1aa34a; 
  transform: scale(1.05);

}
aside{
    height: calc(100vh-78.4px);
    top: 78.4px;
    position: sticky;
    align-self: start;
}
.library{
    background-color: #121212;
    color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}
.library .nav img{
    font-size: 40px;
    width: 1.2rem;
    margin-left: 20px;
} 
.library .nav a{
    font-size: 17px;
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.681);
    padding: 0px 2px 6px 2px;
}
.library .nav a:hover{
    color: white;
    transform: scale(1.05);
}
.library .nav i{
    margin-left: 150px;
    font-size: 25px;
}
.library .nav i:hover{
    border-radius: 50%;
    background-color: #262525;
}
.playlist, .podcast{
    height: 26.5%;
    border-radius: 15px;
    background-color: #262525;
    margin: 1.5rem 0;
    padding: 1rem;
}
.playlist .top , .podcast .top{
    font-weight: 500;
    font-size: 1.2rem;
    margin: 0.5rem;
}
.playlist .text , .podcast .text{
    font-size: 1rem;
    font-weight: 400;
    margin: 1rem 0.5rem;
}
.capsule{
    margin: .7rem 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 700;
    color: #000;
    border: none;
    transition: all ease .2s;
}
.capsule:hover{
    transform: scale(1.05);
}
main{
    color: white;
    height: 100%;
}
.rightbox p{
    padding: 30px 20px 10px 10px;
    font-size: 25px;
    font-weight: 500;
    font-family: poppins;
  
}
.popularartists .artists{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.artists img{
    height: 20vh;
    width: 20vb;
    border-radius: 50%;
}
.popularartists .box h1{
    width: 100%;
    margin-top: 15px;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.popularartists .box h3{
    width: 100%;
    margin-top: 8px;
    display: flex;
    font-size: 13px;
    justify-content: space-around;
    color: #928f8f;
}
.box{
    padding: 2px 2px 2px 2px;
    transition: transform 0.2s ease;
}
.box:hover{
    transform: scale(1.05);
    background: linear-gradient(151deg, rgba(18,18,18,1) 0%, rgb(36, 35, 35) 99%, rgba(18,18,18,1) 100%);
    border: 0px solid white;
    border-radius: 10px;
}
.popularalbums p{
    margin-top: 50px;
    margin-bottom: 25px;
}
.popularalbums .albums{
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

}
.albums img{
    height: 23vh;
    width: 20vb;
    border-radius: 20px;
}
.popularalbums .box1 h1{
    width: 100%;
    margin-top: 15px;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.popularalbums .box1 h3{
    width: 100%;
    margin-top: 8px;
    display: flex;
    font-size: 13px;
    justify-content: space-around;
    color: #928f8f;
}
.box1{
    padding: 2px 2px 2px 2px;
    transition: transform 0.2s ease;
}
.box1:hover{
    transform: scale(1.05);
    background: linear-gradient(151deg, rgba(18,18,18,1) 0%, rgb(36, 35, 35) 99%, rgba(18,18,18,1) 100%);
    border: 0px solid white;
    border-radius: 10px;
}
footer{
    position: sticky;
    bottom: 0px;
}
.bottomnavbar{
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    background: linear-gradient(90deg, rgba(255,7,237,1) 0%, rgba(121,9,111,1) 46%, rgba(0,212,255,1) 100%);
    padding: 10px;
}
.bottomnavbar .button{
    border-radius: 50px;
    border: 0px solid black;
    padding: 13px 18px 0px 18px;
    background-color: white;
    color: black;
    font-weight: 700;
}
@media(max-width: 800px){
    body{
        grid-template-columns: 1fr;
    }
    aside{
        position: fixed;
        width: 300px;
        display: none;

    }
    .show{
        display: block;
    }
}